.reveal .controls .left { left: 0 !important; }
.logos { margin-bottom: 40px !important; }
.logos img { -moz-transition: all 0.2s linear 0s; box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5); margin: 10px 0 0; border: none !important; }
